/*Css done for whole application or web page*/
:root{
    --main-color: #73e328;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fcf2e8;
    padding-left: 30rem;
}
/*//////////////////////////////////////////////////////////////////////*/
/* Css done for header (Nav bar) */
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    text-align: center;
}

header .portfolio{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .portfolio span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: 0.2rem;
    color:var(--main-color);
}

header .sites a{
    font-size: 2.5rem;
    color: #fff;
    margin: 0.7rem;

}

header .sites a:hover{
    color:var(--main-color);
}

#NavBarMenu{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;


}
/*//////////////////////////////////////////////////////////////////////*/
/* Css done for custom cursors*/
.cursor-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height: 7rem;
    width: 7rem;
    opacity: 0.3;
}

.cursor-2{
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: 0.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: 0.1s linear;
}

.cursor-2.active{
    display: none;
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css done for home page (section)*/
section{
    padding: 1rem 5%;
    min-height: 100vh;
    align-items: center;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .homePageContent{
    flex:1 1 40rem;
}

.home .homePageContent .Introduction{
    font-size: 3rem;
    color: black;
    align-items: center;
}

.home .homePageContent h1{
    font-size: 3rem;
    color: black;
    text-transform: none;
}

.home .homePageContent h1 span{
    color: var(--main-color);
    text-transform: uppercase;
}

.home .homePageContent .currentInfo{
    font-size: 1.8rem;
    color: black;
    padding: 0.5rem 0;
    text-transform: none;
}

.home .homePageContent .selfIntroText{
    font-size: 1.8rem;
    color: black;
    padding: 0.5rem 0;
    text-transform: none;
}

.home .btn{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    display: inline-block;
    
}

/*//////////////////////////////////////////////////////////////////////*/
/* css for profile image on home page*/
.profileImg{
    flex: 1 1 40rem;
    padding: 4rem 15rem;
    
}

.profileImg img{
    width: 100%;
    height: 100%;
    size: 70px;
    border-radius: 0.5rem;
    
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css for About Me page*/
.aboutIntro{
    font-size: 5rem;
    color: black;
    padding: 2rem 0;
}

.aboutIntro span{
    color: var(--main-color);
    align-items: center;
}

.aboutMe .aboutMeMainDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}


.aboutMe .aboutMeClassDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    margin-top: 7rem;
}

/*Css for About me page image*/
.aboutMeClassDiv .aboutMeImg{
    flex: 1 1 25rem;
}

.aboutMeClassDiv .aboutMeImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.aboutMe .aboutMeClassDiv .aboutMeContent{
    flex: 1 1 55rem;
    margin-top: 2rem;
    margin-left: 4rem;

}

.aboutMeContent h3{
    font-size: 3rem;
    color: black;
    
}

.personalInfoContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.personalInfoContainer .personalInfoBox{
    flex: 1 1 20rem;
    height: 50%;
    width: 50%;
}

.personalInfoContainer .personalInfoBox2{
    flex: 1 1 20rem;
    height: 50%;
    width: 50%;
    top: 0;
}

.personalInfoContainer .personalInfoBox span{
    color: darkgreen;
    font-weight: bold;
}

.personalInfoContainer .personalInfoBox2 span{
    color: darkgreen;
    font-weight: bold;
}

.personalInfoContainer .personalInfoBox p{
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;

}

.personalInfoContainer .personalInfoBox2 p{
    text-align: left;
    margin-bottom: 3rem;
    font-size: 2rem;
    top: 0;
}
/*//////////////////////////////////////////////////////////////////////*/
/* Media Queries (to make project/page responsive)*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    body{
        padding: 0;
    }

    #NavBarMenu{
        display: initial;
    }

    header{
        left: -120%;
    }

    header.active{
        left: 0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}
@media (max-width: 500px){

    html{
        font-size: 50%;
    }

    header{
        width: 100%;
    }
}