/*Css done for whole application or web page*/
:root{
    --main-color: #73e328;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fcf2e8;
    padding-left: 30rem;
}
/*//////////////////////////////////////////////////////////////////////*/
/* Css done for header (Nav bar) */

/* Css done for that applies to whole navigation bar menu*/
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    text-align: center;
}

/* Css done for the title in nav bar, thus my name */
header .portfolio{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

header .portfolio span{
    text-transform: uppercase;
    color:var(--main-color);
}

/* Css done for the options anchor elements in nav bar such as the home, about,experience button options*/
header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: 0.2rem;
    color:var(--main-color);
}

/* Css done for facebook, instagram, linkedin icon buttons/options/anchor elements*/
header .sites a{
    font-size: 2.5rem;
    color: white;
    margin: 0.7rem;

}

header .sites a:hover{
    color:var(--main-color);
}

/* Css done for menu button that pops up if screen is size is at 50%*/
#NavBarMenu{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;


}
/*//////////////////////////////////////////////////////////////////////*/
/* Css done for custom cursors*/
.cursor-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height: 7rem;
    width: 7rem;
    opacity: 0.3;
}

.cursor-2{
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: 0.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: 0.1s linear;
}

.cursor-2.active{
    display: none;
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css done for home page (section)*/
section{
    padding: 1rem 5%;
    min-height: 100vh;
    align-items: center;
}

.home{
    display: block; /*changed to check*/
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.home .homePageContent{
    flex:1 1 40rem;
    margin-top: 3rem;
}

/* Css done for home section heading or into (good day)*/
.home .homePageContent .Introduction{
    font-size: 3rem;
    color: black;
    align-items: center;
    font-weight: bold;
}

/* Css done for home section heading (my name is brenden greeff)*/
.home .homePageContent h1{
    font-size: 3rem;
    color: black;
    text-transform: none;
}

.home .homePageContent h1 span{
    color: var(--main-color);
    text-transform: uppercase;
}

/* Css done for home section paragrage explaining a bit about myself*/
.home .homePageContent .currentInfo{
    font-size: 1.8rem;
    color: black;
    padding: 0.5rem 0;
    text-transform: none;
}

.home .homePageContent .selfIntroText{
    font-size: 1.8rem;
    color: black;
    padding: 0.5rem 0;
    text-transform: none;
}

/*Css for home section/page image*/
.home .profileImg{
    flex: 1 1 25rem;
}

.home .profileImg img{
    height: 10%;
    width: 30%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border: 1rem solid white;
}

/*Css for home section buttons (about me and download cv)*/
.home .btn{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    display: inline-block;
    width: 20rem;
    color: black;
    margin-bottom: 3rem;
    
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css for About Me page*/

/*Css for About Me section heading (About me)*/
.aboutIntro{
    font-size: 5rem;
    color: black;
    padding: 2rem 0;
    
}

.aboutIntro span{
    color: var(--main-color);
    align-items: center;
}


.aboutMe .aboutMeMainDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.aboutMe .aboutMeClassDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    margin-top: 5rem;
}

/*Css for About me section image*/
.aboutMeClassDiv .aboutMeImg{
    flex: 1 1 25rem;
}

.aboutMeClassDiv .aboutMeImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border: 1rem solid white;
}

/*Css for About Me page div that contains my personal info*/
.aboutMe .aboutMeClassDiv .aboutMeContent{
    flex: 1 1 55rem;
    margin-top: 3rem;
    margin-left: 4rem;
}

/*Css for About Me page heading (my personal info is as follows)*/
.aboutMeContent h3{
    font-size: 3rem;
    color: black;
    
}

/*Css for About Me section that actually contains my personal info (name, surname, ID, etc.)*/
.personalInfoContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.personalInfoContainer .personalInfoBox{
    flex: 1 1 20rem;
    height: 50%;
    width: 50%;
    text-transform: none;
}

.personalInfoContainer .personalInfoBox2{
    flex: 1 1 20rem;
    height: 50%;
    width: 50%;
    top: 0;
    text-transform: none;
}

.personalInfoContainer .personalInfoBox span{
    color: darkgreen;
    font-weight: bold;
}

.personalInfoContainer .personalInfoBox2 span{
    color: darkgreen;
    font-weight: bold;
}

.personalInfoContainer .personalInfoBox p{
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;

}

.personalInfoContainer .personalInfoBox2 p{
    text-align: left;
    margin-bottom: 3rem;
    font-size: 2rem;
    top: 0;
}

/*//////////////////////////////////////////////////////////////////////*/
/*Css done for skills page*/
.skillsMainDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

/*Css done for skills section heading (My Skills)*/
.skillsMainDiv .skillsIntro{
    font-size: 5rem;
    color: black;
    padding: 2rem 0rem;
}

.skillsMainDiv .skillsIntro span{
    color: var(--main-color);
    align-items: center;
}

/*Css done for skills section div that contains the info i want to display such as natepadd ++ and progress bar*/
.skillsMainDiv .skillsSectionDiv .skillsContent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0rem;
    
}

/*Css done for skills section content/info such as notepadd++ and the percentage 70%*/
.skillsMainDiv .skillsSectionDiv  .skillsContent .actualSkills{
    flex: 1 1 40rem;
}

/*Css done for skills section name of skill such as notepad++*/
.skillsMainDiv .skillsSectionDiv  .skillsContent .actualSkills .skillsProgress{
    padding: 0.5rem 0;
    margin-right: 13rem; /*To change space of image*/
}

.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress h5{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: black;
    
}

.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress h5 span{
    
    font-size: 1.8rem;
    display: flex;
    margin-left: 40rem; /*To change bar length*/
    color: black;

}

/*Css done for progress bars*/
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress .skillsBar{
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress .skillsBar span{
    display: block;
    height: 100%;
    background: var(--main-color);
}

/*Css for progress bar fill*/
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(1) .skillsBar span{
    width: 80%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(2) .skillsBar span{
    width: 40%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(3) .skillsBar span{
    width: 70%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(4) .skillsBar span{
    width: 85%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(5) .skillsBar span{
    width: 65%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(6) .skillsBar span{
    width: 75%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(7) .skillsBar span{
    width: 50%;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsProgress:nth-child(8) .skillsBar span{
    width: 65%;
}

/*Css for skills page/section image*/
.skillsMainDiv .skillsSectionDiv  .skillsContent .skillsImg{
    flex: 1 1 20rem;
    margin-right: 2rem;
}
.skillsMainDiv .skillsSectionDiv  .skillsContent  .skillsImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border: 1rem solid cornsilk;
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css section for work experience*/

/*Css section for work experience that applies to the whole section*/
.experienceMainDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.experienceMainDiv .experienceSectionDiv{
    flex:1 1 40rem;
}

/*Css section for work experience heading (My Work Experience)*/
.experienceMainDiv .experienceIntro{
    font-size: 5rem;
    color: black;
    padding: 2rem 0rem;
}

.experienceMainDiv .experienceIntro span{
    color: var(--main-color);
    align-items: center;
}

/*Css section for work experience div that contains the containers and their info*/
.experienceMainDiv .experienceSectionDiv .experiencecontent{
    display: block; 
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    size: 40px;
    height: fit-content;
}

.experienceMainDiv .experienceSectionDiv .experiencecontent .experienceBoxContainer{
    flex: 1 1 25rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 3rem;
}

/*Css  for work experience section to create and style the containers */
.experienceMainDiv .experienceSectionDiv .experiencecontent .experienceBoxContainer .experienceBox{
    flex: 1 1 25rem;
    display: block; 
    background: #fff;
    padding: 2rem 8rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 5rem;
    flex-wrap: wrap;
    align-items: center;
}

/*Css for info in work experience section container */
.experienceMainDiv .experienceSectionDiv .experiencecontent .experienceBoxContainer .experienceBox .section{
    color: var(--main-color);
    font-size: 2rem;
    display: block; 
    margin-top: 1rem;
}

.experienceMainDiv .experienceSectionDiv .experiencecontent .experienceBoxContainer .experienceBox h7 span{
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
}

.experienceMainDiv .experienceSectionDiv .experiencecontent .experienceBoxContainer .experienceBox p{
    font-size: 1.8rem;
    color: black;
    margin-top: 1rem;
}

/*Css for work experience section image*/
.experienceSectionDiv .experienceImg{
    flex: 1 1 20rem;
    margin-top: 2rem;
}

.experienceSectionDiv .experienceImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    height: 300px;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border: 1rem solid white;
    
}
/*//////////////////////////////////////////////////////////////////////*/
/*Css for Contact Details section page*/

/*Css for Contact Details section heading (Contact Me)*/
.contactDetailsSection .contactDetailsIntro{
    font-size: 5rem;
    color: black;
    padding: 2rem 0rem;
    font-weight: bold;
}

.contactDetailsSection .contactDetailsIntro span{
    color: var(--main-color);
    text-align: center;
}

/*Css for map container*/
.contactDetailsSection .contactDetailsInputDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contactDetailsSection .contactDetailsInputDiv .contactDetailsMap{
    flex: 1 1 25rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border: 1rem solid white;
    margin-left: 1rem;
    height: 200px;
}

/* Css for contact container/box where you can type and send message*/
.contactDetailsSection .contactDetailsInputBoxDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/*Css for Contact Details section details contained in contact box/container*/
.contactDetailsSection .contactDetailsInputBoxDiv form{
    flex: 1 1 25rem;
    background: white;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0rem 2rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    height: 50%;
}

/*Css for contact box container lines and spacing*/
.contactDetailsSection .contactDetailsInputBoxDiv form .contactDetailsInputBox,
.contactDetailsSection .contactDetailsInputBoxDiv form .textarea{
    width: 100%;
    border-bottom: 0.5rem solid var(--main-color);
    color: black;
    text-transform: none;
    font-size: 1.8rem;
    padding: 1rem 0;
    margin: 1rem 0;
}

/*Css for button in contact container*/
.contactDetailsSection .contactDetailsInputBoxDiv form .btn{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    display: inline-block;
    width: 20rem;
    color: black;
    margin-bottom: 1rem;
    
}

/*Css for 3 containers with phone, mail, and pinlocation icon*/
.contactDetailsSection .contactDetailsIconContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contactDetailsSection .contactDetailsIconContainer .contactDetailsIcons{
    flex: 1 1 25rem;
    text-align: center;
    align-items: center;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.contactDetailsSection .contactDetailsIconContainer .contactDetailsIcons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
}



.contactDetailsSection .contactDetailsIconContainer .contactDetailsIcons h9{
    font-size: 1.8rem;
    color: black;
    margin-top: 1rem;
    font-weight: bold;
}

.contactDetailsSection .contactDetailsIconContainer .contactDetailsIcons p{
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    text-transform: none;
}

/*//////////////////////////////////////////////////////////////////////*/
/* Media Queries (to make project/page responsive)*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    body{
        padding: 0;
    }

    #NavBarMenu{
        display: initial;
    }

    header{
        left: -120%;
    }

    header.active{
        left: 0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}
@media (max-width: 500px){

    html{
        font-size: 50%;
    }

    header{
        width: 100%;
    }
}